<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Show person</title>
</head>
<body>
<p th:text="${person.getName() + ', ' + person.getBirthDate()}"></p>
<div  th:if="${!books.isEmpty()}">
    <h3>Книги:</h3>
    <table th:each="book:${books}">
    <tr th:text="${book.getTitle() + ', ' + book.getAuthor() + ', ' + book.getYear()}"></tr>
    </table>
    </div>
<p th:if="${books.isEmpty()}">There are no books yet</p>
<button><a th:href="@{/people/{id}/edit(id=${person.getId()})}">Edit</a></button>
<form th:method="DELETE" th:action="@{/people/{id}(id=${person.getId()})}">
    <input value="Delete" type="submit">
</form>

</body>
</html>